@import url('https://fonts.googleapis.com/css2?family=Monda&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



body{
  font-family: 'Roboto' sans-serif;
  margin: 0;
  padding: 0;
  background-color: #beddef;
}
